<app-notification
  [messageObject]="messageObject"
  *ngIf="showMessage"
></app-notification>

<app-spinner *ngIf="isLoading"></app-spinner>
<section>
  <div class="over-con">
    <img class="logo" src="assets/images/logo-light.svg" />
    <div class="abs-con">
      <img
        class="setting-img"
        (click)="triggerLanguage()"
        src="assets/images/icons8-settings (1).svg"
      />
    </div>
    <div class="login-form">
      <form [formGroup]="formGroup" (ngSubmit)="login($event)">
        <h2 [ngClass]="{ white: darkmode }">{{ "login.title" | translate }}</h2>

        <div class="label-error-con">
          <label [ngClass]="{ white: darkmode }">{{
            "login.email" | translate
          }}</label>
          <mat-error
            class="error"
            *ngIf="
              formGroup.get('email')?.hasError('required') &&
              formGroup.get('email')?.touched
            "
            >{{ "login.validator.name" | translate }}</mat-error
          >
          <mat-error class="error" style="font-size: 10px" *ngIf="error"
            >Email or Password is wrong !</mat-error
          >
        </div>
        <input matInput formControlName="email" type="email" />
        <div class="label-error-con">
          <label [ngClass]="{ white: darkmode }">{{
            "login.password" | translate
          }}</label>
          <mat-error
            class="error"
            *ngIf="
              formGroup.get('password')?.hasError('required') &&
              formGroup.get('password')?.touched
            "
            >{{ "login.validator.password" | translate }}</mat-error
          >
        </div>
        <input formControlName="password" type="password" />
        <button
          [disabled]="formGroup.invalid"
          type="submit"
          [ngClass]="{ white: darkmode, 'invalid-button': formGroup.invalid }"
        >
          {{ "login.button" | translate }}
        </button>
      </form>

      <div class="remember-con">
        <input
          [(ngModel)]="localStorageData"
          (change)="localStorage()"
          type="checkbox"
          class="remember-checkbox"
          [checked]="localStorageData"
        />
        <p [ngClass]="{ white: darkmode }">
          {{ "login.rememberme" | translate }}
        </p>
      </div>
      <span
        routerLink="/sign-up"
        [ngClass]="{ white: darkmode }"
        class="create-acc"
      >
        {{ "login.createaccount" | translate }}
      </span>
    </div>
    <img class="img-right" src="assets/images/login/kanbanimg.png" alt="" />
  </div>
</section>
<app-language *ngIf="language"></app-language>
