section {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--ultradark);
    flex-direction: column;
    font-family: plusmedium;
    justify-content: center;
    align-items: center;
}

// h1 {
//     justify-self: flex-start;
//     font-size: 60px;
//     font-family: plusbold;
// }
.abs-con {
    position: absolute;
    width: 50%;
}

.over-con {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    height: 60%;
    border-radius: 10px;
    position: relative;
}

.img-right {
    border-radius: 15px;
    width: 400px;
    height: 100%;
    object-fit: cover;
}

.login-form {
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
    position: relative;
    margin: auto;
}

.label-error-con {
    display: flex;
    justify-content: space-between;
}

h2 {
    align-self: flex-start;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #282828;
    background-color: transparent;
    color: white;
    transition: border-color 0.3s ease;
}
input:focus {
    border-color: var(--inputhover);
    outline: none;
}
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 2px solid transparent;
    background-color: #635fc7;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        transform 0.3s ease;
    outline: none;
}

button:hover,
button:focus {
    background-color: transparent;
    border-color: #635fc7;
    color: #635fc7;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

.invalid-button {
    background-color: #a0a2ae;
}

.remember-con {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember-con p {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remember-checkbox {
    width: 15px !important;
    height: 15px !important ;
    margin: 0;
}
.create-acc {
    cursor: pointer;
}
.setting-img {
    position: absolute;
    width: 30px;
    top: 10px;
    right: 0;
    cursor: pointer;
}
.logo {
    width: 200px;
    left: 40px;
    position: absolute;
    top: 25px;
}
.responsiv {
    display: none;
}
@media (max-width: 888px) {
    .img-right {
        display: none;
    }
    .abs-con {
        width: 100%;
    }
    .setting-img {
        right: 25px;
    }
}
@media screen and (max-width: 600px) {
    section {
        height: -webkit-fill-available;
    }
    .login-form {
        padding: 1rem;
        width: 300px;
    }
    .logo {
        width: 165px;
        left: 25px;
        top: 30px;
    }
    .error {
        font-size: 10px;
        text-align: end;
    }

    input {
        width: 94%;
    }
    input,
    button {
        padding: 8px;
    }
}

@media (max-height: 700px) {
    section {
        overflow: auto;
    }
    .over-con {
        height: 80%;
    }
}
