<app-notification
  [messageObject]="messageObject"
  *ngIf="showMessage"
></app-notification>

<app-spinner *ngIf="isLoading"></app-spinner>
<section>
  <div class="over-con">
    <img class="logo" src="assets/images/logo-light.svg" />
    <div class="login-form">
      <img class="setting-img" src="assets/images/icons8-settings (1).svg" />

      <form [formGroup]="formGroup" (ngSubmit)="login($event)">
        <h2 [ngClass]="{ white: darkmode }">Login</h2>

        <div class="label-error-con">
          <label [ngClass]="{ white: darkmode }">Email</label>
          <mat-error
            class="error"
            *ngIf="
              formGroup.get('email')?.hasError('required') &&
              formGroup.get('email')?.touched
            "
            >Please enter a correct Email</mat-error
          >
          <mat-error class="error" style="font-size: 10px" *ngIf="error"
            >Email or Password is wrong !</mat-error
          >
        </div>
        <input matInput formControlName="email" type="email" />
        <div class="label-error-con">
          <label [ngClass]="{ white: darkmode }">Password</label>
          <mat-error
            class="error"
            *ngIf="
              formGroup.get('password')?.hasError('required') &&
              formGroup.get('password')?.touched
            "
            >Please enter a Password</mat-error
          >
        </div>
        <input formControlName="password" type="password" />
        <button
          [disabled]="formGroup.invalid"
          type="submit"
          [ngClass]="{ white: darkmode, 'invalid-button': formGroup.invalid }"
        >
          Login
        </button>
      </form>

      <div class="remember-con">
        <input
          [(ngModel)]="localStorageData"
          (change)="localStorage()"
          type="checkbox"
          class="remember-checkbox"
          [checked]="localStorageData"
        />
        <p [ngClass]="{ white: darkmode }">Remember me</p>
      </div>
      <span
        routerLink="/sign-up"
        [ngClass]="{ white: darkmode }"
        class="create-acc"
      >
        Create an account
      </span>
    </div>
    <img class="img-right" src="assets/images/login/kanbanimg.png" alt="" />
  </div>
</section>
