<section>
  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div
      class="form"
      [ngClass]="{ 'light-mode': !isDarkMode, 'dark-mode': isDarkMode }"
    >
      <h3 *ngIf="!edit" [ngClass]="{ white: isDarkMode }">Add New Board</h3>
      <h3 *ngIf="edit" [ngClass]="{ white: isDarkMode }">Edit Board</h3>
      <label
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
        >Name</label
      >
      <input
        formControlName="title"
        [ngClass]="{
          'dark-mode': isDarkMode,
          white: isDarkMode,
          'dark-mode-border': isDarkMode
        }"
        type="text"
        placeholder="e.g. Web Design"
      />

      <label
        style="padding-top: 10px"
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
        for=""
        >Board Columns</label
      >
      <div formArrayName="inputs" class="all-inputs">
        <div
          class="columns"
          *ngFor="let input of inputs.controls; let i = index"
          [formGroupName]="i"
        >
          <input
            #inputElement
            [ngClass]="{
              'dark-mode': isDarkMode,
              white: isDarkMode,
              'dark-mode-border': isDarkMode
            }"
            type="text"
            formControlName="columnName"
          />
          <button
            type="button"
            class="delete-column--btn btn-nobackground"
            (click)="deleteInput(i)"
          >
            <img src="assets/images/icon-cross.svg" />
          </button>
        </div>
      </div>
      <!-- add new input button -->
      <button
        [ngClass]="{
          'dark-mode-button': isDarkMode,
          'add-hover': !isDarkMode
        }"
        class="add-column--btn"
        type="button"
        (click)="addInput()"
      >
        + Add New Column
      </button>
      <button
        type="submit"
        class="add-board--btn"
        [disabled]="!formGroup.valid"
        [ngClass]="{ invalid: !formGroup.valid }"
      >
        {{ this.edit ? "Save Changes" : "Create New Board" }}
      </button>
    </div>
  </form>
</section>
