<section>
  <div
    class="delete-con"
    [ngClass]="{ 'light-mode': !isDarkMode, 'dark-mode': isDarkMode }"
  >
    <h2
      *ngIf="type === 'task'"
      class="title-delete"
      [ngClass]="{ white: isDarkMode }"
    >
      Delete this Board ?
    </h2>
    <h2
      *ngIf="type === 'board'"
      class="title-delete"
      [ngClass]="{ white: isDarkMode }"
    >
      Delete this Board ?
    </h2>

    <h2
      *ngIf="type === 'user'"
      class="title-delete"
      [ngClass]="{ white: isDarkMode }"
    >
      Delete User ?
    </h2>

    <p *ngIf="type === 'task'" [ngClass]="{ 'dark-mode-label': isDarkMode }">
      Are you sure you want to delete the ‘{{ currentTask?.title }}’ task and
      its subtasks? This action cannot be reversed.
    </p>

    <p *ngIf="type === 'board'" [ngClass]="{ 'dark-mode-label': isDarkMode }">
      Are you sure you want to delete the {{ this.currentBoard?.title }} board?
      This action will remove all columns and tasks and cannot be reversed.
    </p>
    <p *ngIf="type === 'user'" [ngClass]="{ 'dark-mode-label': isDarkMode }">
      Are you sure you want to delete your account? This action cannot be
      reversed.
    </p>

    <div class="delete-btn-con">
      <button (click)="deleteObject(currentObject?.id)" class="delete-btn btn">
        Delete
      </button>
      <button (click)="closeDeleteWindow()" class="cancel-btn btn">
        Cancel
      </button>
    </div>
  </div>
</section>
<app-spinner *ngIf="isLoading"></app-spinner>
