<section>
  <div
    class="delete-con"
    [ngClass]="{ 'light-mode': !isDarkMode, 'dark-mode': isDarkMode }"
  >
    <h2
      *ngIf="type === 'task'"
      class="title-delete"
      [ngClass]="{ white: isDarkMode }"
    >
      {{ "deletetask.title" | translate }}
    </h2>
    <h2
      *ngIf="type === 'board'"
      class="title-delete"
      [ngClass]="{ white: isDarkMode }"
    >
      {{ "deleteboard.title" | translate }}
    </h2>

    <h2
      *ngIf="type === 'user'"
      class="title-delete"
      [ngClass]="{ white: isDarkMode }"
    >
      {{ "deleteuser.title" | translate }}
    </h2>

    <p
      *ngIf="type === 'task' && currentTask?.title"
      [ngClass]="{ 'dark-mode-label': isDarkMode }"
    >
      {{ "deletetask.description" | translate : { value: currentTask!.title } }}
    </p>

    <p *ngIf="type === 'board'" [ngClass]="{ 'dark-mode-label': isDarkMode }">
      {{
        "deleteboard.description" | translate : { value: currentBoard!.title }
      }}
    </p>
    <p *ngIf="type === 'user'" [ngClass]="{ 'dark-mode-label': isDarkMode }">
      {{ "deleteuser.description" | translate }}
    </p>

    <div class="delete-btn-con">
      <button (click)="deleteObject(currentObject?.id)" class="delete-btn btn">
        {{ "deleteuser.button" | translate }}
      </button>
      <button (click)="closeDeleteWindow()" class="cancel-btn btn">
        {{ "deleteuser.cancle" | translate }}
      </button>
    </div>
  </div>
</section>
<app-spinner *ngIf="isLoading"></app-spinner>
