<section [ngClass]="{ 'dark-mode': isDarkMode }" class="grid-container">
  <div class="logo-con">
    <div
      class="logo-header"
      [ngClass]="{
        'border-right': isDarkMode,
        'd-none': sidebarState,
        'border-bottom': isDarkMode
      }"
    >
      <img
        class="logo"
        [src]="
          isDarkMode
            ? '/assets/images/logo-light.svg'
            : '/assets/images/logo-dark.svg'
        "
        alt="logo-alt"
      />
    </div>
  </div>
  <app-sidebar></app-sidebar>
  <div class="right-side">
    <app-board></app-board>
  </div>
</section>
