section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-family: PlusMedium;
    background-color: rgba(0, 0, 0, 0.5);
}

h3 {
    font-size: 18px;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 2;
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

label {
    font-size: 14px;
}

textarea {
    height: 100px;
    resize: none;
    padding-left: 15px;
    padding-top: 10px;
    font-family: Plusmedium;
    border: 1px solid var(--lineswhite);
    &:focus {
        outline: none;
    }
}
input,
select {
    border: 1px solid var(--lineswhite);
    height: 40px;
    border-radius: 3px;
    padding-left: 15px;
    font-family: PlusMedium;
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

select {
    padding-right: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    background-image: url("/assets/images/icon-chevron-down.svg"); /* Replace with the path to your custom arrow image */
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.columns {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;

    input {
        width: 90%;
    }

    img {
        height: 16px;
    }
}
.add-column--btn,
.add-board--btn {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #828fa3;
    height: 40px;
    background-color: hsl(244, 45%, 94%);
    color: var(--mainpurple);
    font-family: PlusBold;
    text-align: center;
    border: none;
    border-radius: 20px;
}
.add-hover {
    &:hover {
        background-color: hsl(245, 30%, 83%);
    }
}
.add-board--btn {
    background-color: var(--mainpurple);
    color: #ffff;

    &:hover {
        background-color: var(--purplehover);
    }
}

.input-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}
