+
<section>
  <form [formGroup]="formGroup" (ngSubmit)="submitForm($event)">
    <div
      class="form"
      [ngClass]="{ 'light-mode': !isDarkMode, 'dark-mode': isDarkMode }"
    >
      <h3 [ngClass]="{ white: isDarkMode }">
        {{
          !this.edit
            ? ("addtask.title" | translate)
            : ("edittask.title" | translate)
        }}
      </h3>

      <!-- Title -->
      <label
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
        >{{ "addtask.name" | translate }}</label
      >
      <input
        [ngClass]="{
          'dark-mode': isDarkMode,
          white: isDarkMode,
          'dark-mode-border': isDarkMode
        }"
        type="text"
        placeholder="e.g. Web Design"
        formControlName="title"
      />
      <mat-error
        minlength="1"
        *ngIf="
          checkValidator('title', 'minlength') ||
          checkValidator('title', 'required')
        "
        style="font-size: 10px"
        >{{ "addtask.validator.titleerror" | translate }}</mat-error
      >
      <!-- Description -->
      <label
        style="padding-top: 10px"
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
        >{{ "addtask.description" | translate }}</label
      >
      <textarea
        [ngClass]="{
          'dark-mode': isDarkMode,
          white: isDarkMode,
          'dark-mode-border': isDarkMode
        }"
        type="text"
        formControlName="description"
        placeholder="e.g It's always good to take a break. This 15 minute break will recharge the batteries a little"
      ></textarea>

      <!-- Subtasks -->
      <label
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
      >
        {{ "addtask.subtask" | translate }}</label
      >
      <div class="main-col columns" formArrayName="inputs">
        <div
          class="columns"
          *ngFor="let input of inputs.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="input-container">
            <input
              [ngClass]="{
                'dark-mode': isDarkMode,
                white: isDarkMode,
                'dark-mode-border': isDarkMode
              }"
              type="text"
              formControlName="name"
            />
            <button
              class="delete-column--btn btn-nobackground"
              type="button"
              (click)="deleteInput(i)"
            >
              <img src="assets/images/icon-cross.svg" />
            </button>
          </div>
          <mat-error
            minlength="1"
            *ngIf="inputs.controls[i].invalid || inputs.controls[i].touched"
            style="font-size: 10px; align-self: flex-start"
            >{{ "addtask.validator.titleerror" | translate }}</mat-error
          >
        </div>
      </div>
      <!-- add subtask button -->
      <button
        [ngClass]="{
          'dark-mode-button': isDarkMode,
          'add-hover': !isDarkMode
        }"
        (click)="addInput()"
        type="button"
        class="add-column--btn"
      >
        {{ "addtask.addnewsubtask" | translate }}
      </button>

      <!-- Select Status -->
      <label
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
        >{{ "addtask.currentstatus" | translate }}</label
      >
      <select
        *ngIf="this.type === 'edit'"
        formControlName="selectedColumnId"
        [ngClass]="{
          'dark-mode': isDarkMode,
          white: isDarkMode,
          'dark-mode-border': isDarkMode
        }"
        (change)="onColumnSelect($event)"
      >
        <option *ngFor="let column of currentBoard.columns" [value]="column.id">
          {{ column.columnName }}
        </option>
      </select>
      <select
        *ngIf="this.type === 'create'"
        [ngClass]="{
          'dark-mode': isDarkMode,
          white: isDarkMode,
          'dark-mode-border': isDarkMode
        }"
        (change)="onColumnSelect($event)"
      >
        <option *ngFor="let column of currentBoard.columns" [value]="column.id">
          {{ column.columnName }}
        </option>
      </select>
      <!-- Submit button -->
      <button class="add-board--btn">
        {{
          this.edit
            ? ("edittask.button" | translate)
            : ("addtask.button" | translate)
        }}
      </button>
      <!-- <button class="add-board--btn" *ngIf="edit">Save Changes</button> -->
    </div>
  </form>
</section>
<app-spinner *ngIf="isLoading"></app-spinner>
