<section>
  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div
      class="form"
      [ngClass]="{ 'light-mode': !isDarkMode, 'dark-mode': isDarkMode }"
    >
      <h3 *ngIf="!edit" [ngClass]="{ white: isDarkMode }">Add New Task</h3>
      <h3 *ngIf="edit" [ngClass]="{ white: isDarkMode }">Edit Task</h3>

      <!-- Title -->
      <label
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
        >Title</label
      >
      <input
        [ngClass]="{
          'dark-mode': isDarkMode,
          white: isDarkMode,
          'dark-mode-border': isDarkMode
        }"
        type="text"
        placeholder="e.g. Web Design"
        formControlName="title"
      />

      <!-- Description -->
      <label
        style="padding-top: 10px"
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
        >Description</label
      >
      <textarea
        [ngClass]="{
          'dark-mode': isDarkMode,
          white: isDarkMode,
          'dark-mode-border': isDarkMode
        }"
        type="text"
        formControlName="description"
        placeholder="e.g It's always good to take a break. This 15 minute break will recharge the batteries a little"
      ></textarea>

      <!-- Subtasks -->
      <label
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
      >
        Subtasks</label
      >
      <div
        class="columns"
        formArrayName="inputs"
        *ngFor="let input of inputs.controls; let i = index"
      >
        <input
          [ngClass]="{
            'dark-mode': isDarkMode,
            white: isDarkMode,
            'dark-mode-border': isDarkMode
          }"
          type="text"
          [formControlName]="i"
        />
        <button
          class="delete-column--btn btn-nobackground"
          type="button"
          (click)="deleteInput(i)"
        >
          <img src="assets/images/icon-cross.svg" />
        </button>
      </div>

      <!-- add subtask button -->
      <button
        [ngClass]="{
          'dark-mode-button': isDarkMode,
          'add-hover': !isDarkMode
        }"
        (click)="addInput()"
        type="button"
        class="add-column--btn"
      >
        + Add New Subtask
      </button>

      <!-- Select Status -->
      <label
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
        >Current Status</label
      >
      <select
        [ngClass]="{
          'dark-mode': isDarkMode,
          white: isDarkMode,
          'dark-mode-border': isDarkMode
        }"
        formControlName="currentStatus"
      >
        <option
          *ngFor="let column of currentBoard.columns"
          [value]="column.columnName"
        >
          {{ column.columnName }}
        </option>
      </select>
      <!-- Submit button -->
      <button class="add-board--btn" *ngIf="!edit">Create Task</button>
      <button class="add-board--btn" *ngIf="edit">Save Changes</button>
    </div>
  </form>
</section>
