<section>
  <form>
    <div
      class="form"
      [ngClass]="{ 'light-mode': !isDarkMode, 'dark-mode': isDarkMode }"
    >
      <h3 [ngClass]="{ white: isDarkMode }">Add New Task</h3>
      <label
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
        >Title</label
      >
      <input
        [ngClass]="{
          'dark-mode': isDarkMode,
          white: isDarkMode,
          'dark-mode-border': isDarkMode
        }"
        type="text"
        placeholder="e.g. Web Design"
      />
      <!-- formControlName="title" -->

      <label
        style="padding-top: 10px"
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
        >Description</label
      >
      <textarea
        [ngClass]="{
          'dark-mode': isDarkMode,
          white: isDarkMode,
          'dark-mode-border': isDarkMode
        }"
        type="text"
        placeholder="e.g It's always good to take a break. This 15 minute break will recharge the batteries a little"
      ></textarea>
      <label
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
      >
        Subtasks</label
      >
      <div class="columns">
        <input
          [ngClass]="{
            'dark-mode': isDarkMode,
            white: isDarkMode,
            'dark-mode-border': isDarkMode
          }"
          type="text"
        />
        <button class="delete-column--btn btn-nobackground" type="button">
          <img src="assets/images/icon-cross.svg" />
        </button>
      </div>
      <button
        [ngClass]="{
          'dark-mode-button': isDarkMode,
          'add-hover': !isDarkMode
        }"
        type="button"
        class="add-column--btn"
      >
        + Add New Subtask
      </button>
      <label
        [ngClass]="{
          white: isDarkMode,
          'dark-mode-label': !isDarkMode
        }"
        >Current Status</label
      >
      <select
        [ngClass]="{
          'dark-mode': isDarkMode,
          white: isDarkMode,
          'dark-mode-border': isDarkMode
        }"
        name="todo"
      >
        <option
          *ngFor="let column of currentBoard.columns"
          [value]="column.columnName"
        >
          {{ column.columnName }}
        </option>
      </select>
      <button class="add-board--btn">Create Task</button>
    </div>
  </form>
</section>
