<app-popup
  *ngIf="openPopup"
  [type]="type"
  class="backdrop"
  (closePopUps)="closeObjects()"
></app-popup>
<app-notification
  class="not"
  *ngIf="showMessage"
  [messageObject]="messageObject"
></app-notification>

<div class="empty-content" *ngIf="emptyBoard && !sidebar">
  <div class="fixed">
    <span>Please add a board</span>

    <button class="add-column--btn" (click)="openBoard()">
      + Add New Board
    </button>
  </div>
</div>
<section [ngClass]="{ 'dark-mode': isDarkMode }" class="grid-container">
  <app-sidebar [class.active]="sidebar" class="sidebar"></app-sidebar>
  <app-header
    *ngIf="!emptyBoard"
    class="header"
    [class.active]="!sidebar"
  ></app-header>
  <app-board
    [ngClass]="{ 'no-scroll': this.scrollDisabled }"
    class="main-content"
    *ngIf="!emptyBoard"
  ></app-board>

  <div class="main-content add-board-con" *ngIf="emptyBoard">
    <h2 [ngClass]="{ white: isDarkMode }">Please add a Board</h2>
  </div>
</section>

<div
  class="toggle-container"
  *ngIf="!sidebar && !mobileQuery.matches"
  (click)="changeSidebar()"
>
  <img src="assets/images/icon-show-sidebar.svg" />
</div>
