<app-spinner *ngIf="isLoading"></app-spinner>
<section>
  <div class="over-con">
    <form [formGroup]="userForm" (ngSubmit)="createUser()">
      <img class="logo" src="assets/images/logo-light.svg" />
      <img class="setting-img" src="assets/images/icons8-settings (1).svg" />

      <h2 [ngClass]="{ white: darkmode }">
        {{ "signUp.title" | translate }}
      </h2>

      <div class="label-error-con">
        <label [ngClass]="{ white: darkmode }">Username</label>
        <mat-error
          minlength="4"
          *ngIf="
            checkValidator('username', 'minlength') ||
            checkValidator('username', 'required') ||
            checkCustomValidator('username', 'invalidUsername')
          "
          class="error"
        >
          Please add a Username with atleast 3 characters
        </mat-error>
      </div>
      <input formControlName="username" type="text" />
      <div class="label-error-con">
        <label [ngClass]="{ white: darkmode }">Email</label>
        <mat-error
          *ngIf="
            this.errorMessage !== '' ||
            checkValidator('email', 'email') ||
            checkValidator('email', 'required') ||
            checkCustomValidator('email', 'invalidEmail')
          "
          class="error"
        >
          {{ this.errorMessage || "Please enter a valid email" }}
          <img class="alert-svg" src="/assets/images/alert-svgrepo-com.svg" />
        </mat-error>
      </div>
      <input formControlName="email" type="email" />
      <div class="label-error-con">
        <label [ngClass]="{ white: darkmode }">Password</label>
        <mat-error
          class="error"
          *ngIf="
            checkValidator('password', 'minlength') ||
            checkValidator('password', 'required') ||
            checkCustomValidator('password', 'invalidPassword')
          "
          >Please enter a Password with atleast 7 characters</mat-error
        >
      </div>
      <input formControlName="password" type="password" />
      <div class="label-error-con">
        <label [ngClass]="{ white: darkmode }">confirm password</label>
        <mat-error
          class="error"
          *ngIf="
            this.userForm.controls['password'].value !==
            this.userForm.controls['confirmedPassword'].value
          "
          >Password does not match
        </mat-error>
      </div>

      <input formControlName="confirmedPassword" type="password" />

      <button
        type="submit"
        [disabled]="userForm.invalid"
        [ngClass]="{ white: darkmode, 'invalid-button': userForm.invalid }"
      >
        Register
      </button>
      <div>
        <div class="remember-con">
          <input type="checkbox" class="remember-checkbox" />
          <p [ngClass]="{ white: darkmode }">Remember me</p>
        </div>
        <p
          style="cursor: pointer"
          routerLink="/"
          [ngClass]="{ whit: darkmode }"
          class="create-acc"
        >
          Already have an account ? Login
        </p>
      </div>
    </form>
    <div class="img-con-right">
      <img class="img-right" src="assets/images/login/kanbanimg.png" alt="" />
    </div>
  </div>
</section>
