<section>
  <h1 [ngClass]="{ white: darkmode }">Kanban</h1>
  <div class="login-form">
    <form [formGroup]="userForm" (ngSubmit)="createUser()">
      <h2 [ngClass]="{ white: darkmode }">Login</h2>

      <label [ngClass]="{ white: darkmode }">Username</label>
      <input formControlName="username" type="text" />

      <label [ngClass]="{ white: darkmode }">Email</label>
      <input formControlName="email" type="email" />
      <div [ngClass]="{ hidden: this.errorMessage === '' }">
        <span class="error">
          {{ this.errorMessage }}
        </span>
        <img class="alert-svg" src="/assets/images/alert-svgrepo-com.svg" />
      </div>

      <label [ngClass]="{ white: darkmode }">Password</label>
      <input formControlName="password" type="password" />

      <button type="submit" [ngClass]="{ white: darkmode }">Register</button>
    </form>

    <div class="remember-con">
      <input type="checkbox" />
      <p [ngClass]="{ white: darkmode }">Remember me</p>
    </div>
    <p routerLink="/signin" [ngClass]="{ whit: darkmode }" class="create-acc">
      Already have an account ? Login
    </p>
  </div>
</section>
