body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: var(--ultradark);
}

:root {
    //colors
    --ultradark: #20212c;
    --darkgray: #2b2c37;
    --mediumgray: #828fa3;
    --mainpurple: #635fc7;
    --purplehover: #a8a4ff;
    --inputhover: hsl(195, 80%, 50%);
    --light: #e4ebfa;
    --white: #ffff;
    --lightgray: #f4f7fd;
    --linesdark: #3e3f4e;
    --lineswhite: #828fa3;
    --secondarybtn: hsl(244, 45%, 94%);
    --red: #ea5555;
    --lightscrollbar: hsl(210, 3%, 85%);
}

@font-face {
    font-family: PlusBold;
    font-weight: bold;
    src: url(/assets/fonts/PlusJakartaSans-Bold.ttf);
}
@font-face {
    font-family: PlusMedium;
    font-weight: medium;
    src: url(/assets/fonts/PlusJakartaSans-Medium.ttf);
}

.light-mode {
    background-color: var(--white);
}
.light-mode-border {
    border: 1px solid var(--lineswhite);
}
.white {
    color: var(--white);
}

.light-mode-button {
    background-color: var(--mainpurple);
}

.light-mode-gray {
    background-color: var(--lightgray);
}

.dark-mode {
    background-color: var(--darkgray);
}
.dark-mode-label {
    color: var(--mediumgray);
}
.dark-mode-gray {
    background-color: var(--ultradark);
}

.dark-mode-border {
    border: 1px solid var(--linesdark) !important;
}
.dark-mode-button {
    background-color: var(--white) !important;
}

.dark-mode-body {
    background-color: var(--ultradark) !important;
}

.border-bottom {
    border-bottom: 2px solid var(--linesdark) !important;
}

.sec-darkmode-btn {
    background-color: var(--mainpurple) !important;
    border: none;
    border: 0px transparent;
    color: var(--white);
    font-family: PlusBold;
}

.border-right {
    border-right: 2px solid var(--linesdark) !important;
}
.dark-shadow {
    box-shadow: 0px 6px 1px var(--lt-color-gray-800);
}
.black {
    color: black;
}
button {
    cursor: pointer;
}
input:focus {
    text-decoration: none;
    outline: none;
}

.btn-nobackground {
    background-color: none;
    background: none;
    border: none;
}

.d-none {
    display: none !important;
}
.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.invalid-button {
    opacity: 0.8;
    cursor: not-allowed;
}

.border {
    background-color: var(--light);
}

body::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
    background-color: var(--darkgray); /* Background color */
}

/* Style the scrollbar thumb (the part that's draggable) */
body::-webkit-scrollbar-thumb {
    background-color: var(--ultradark); /* Thumb color */
    border-radius: 5px; /* Round corners of the thumb */
}

/* Style the scrollbar thumb when hovering over it */
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--ultradark); /* Darker color on hover */
}

.no-scroll {
    overflow: hidden;
}

.dark-scroll::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
    background-color: var(--mainpurple); /* Background color */
}

/* Style the scrollbar thumb (the part that's draggable) */
.dark-scroll::-webkit-scrollbar-thumb {
    background-color: var(--darkgray); /* Thumb color */
    border-radius: 5px; /* Round corners of the thumb */
    width: 5px;
}

/* Style the scrollbar thumb when hovering over it */
.dark-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #3e3f53; /* Darker color on hover */
}
