header {
    height: 90px;
    border-bottom: 2px solid var(--light);
}

section {
    background-color: var(--light);
    height: calc(100vh - 92px);
}

p {
    font-family: Plusbold;
}

h3 {
    font-family: Plusbold;
}

.img-con {
    border-right: 2px solid var();
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
.inner-header {
    display: flex;
    height: inherit;
    width: inherit;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    justify-content: space-between;
}
.buttons {
    display: flex;
    gap: 15px;
}

.add-task--btn,
.add-column--btn {
    width: 140px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--mainpurple);
    color: #fff;
    border: none;
}

.buttons {
    display: flex;
    gap: 15px;
}

.add-task--btn {
    width: 140px;
    height: 40px;
    border-radius: 30px;
}
.settings--btn {
    background-color: n;
}

.column-body {
    display: flex;
    gap: 30px;
    height: 98%;
    padding-top: 10px;
    padding-left: 13px;
    overflow-x: auto;
}

h3 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 24px;
    font-family: PlusBold;
}

.columns {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    h3 {
        font-size: 12px;
    }
}

.tasks {
    margin-top: 10px;
    border-radius: 8px;
    min-height: 60px;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0px 0px 5px var(--linesdark);
    h3 {
        font-family: PlusBold;
        font-size: 15px;
        letter-spacing: auto;
    }
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.column-title-con {
    display: flex;
    align-items: center;
    gap: 7px;
}
.title-con {
    display: flex;
    gap: 5px;
    align-items: center;
    img {
        width: 15px;
        height: inherit;
    }
}
.fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    span {
        letter-spacing: 1px;
        color: var(--mediumgray);
        font-family: "PlusMedium";
        font-size: 14px;
    }
}

.edit-con {
    position: absolute;
    top: 75px;
    right: 4px;
    background-color: var(--ultradark);
    padding: 10px;
    height: 60px;
    width: 150px;
    box-shadow: 0px 6px 1px var(--lt-color-gray-800);
    gap: 10px;
    justify-content: center;
    padding-left: 15px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    span {
        font-size: 14px;
        font-family: Plusmedium;
        cursor: pointer;
    }
}

.add-column {
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    background-color: #2b2c3720;
    border-radius: 8px;
    cursor: pointer;

    p {
        color: var(--mediumgray);
        font-family: Plusbold;
        font-size: 18px;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow:
        0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .column-body {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Responsiv

@media screen and (max-width: 600px) {
    header {
        height: var(--header-height-responsiv); /* Smaller header for mobile */
    }
}
@media screen and (max-width: 600px) {
    h1,
    h3,
    p {
        font-size: smaller; /* Adjust font size for smaller screens */
    }
}
@media screen and (max-width: 600px) {
    section {
        height: 100vh;
    }
    .add-task--btn,
    .add-column--btn {
        width: 100px; /* Smaller buttons for mobile */
        height: 35px;
    }
    .tasks {
        min-width: 180px;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-family: PlusMedium;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-task {
    z-index: 100;
}

.light-mode::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
    background-color: var(--lineswhite); /* Background color */
}

/* Style the scrollbar thumb (the part that's draggable) */
.light-mode::-webkit-scrollbar-thumb {
    background-color: var(--lightscrollbar); /* Thumb color */
    border-radius: 5px; /* Round corners of the thumb */
}

/* Style the scrollbar thumb when hovering over it */
.light-mode::-webkit-scrollbar-thumb:hover {
    background-color: var(--lightscrollbar); /* Darker color on hover */
}

.dark-scroll::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
    background-color: var(--mainpurple); /* Background color */
}

/* Style the scrollbar thumb (the part that's draggable) */
.dark-scroll::-webkit-scrollbar-thumb {
    background-color: var(--darkgray); /* Thumb color */
    border-radius: 5px; /* Round corners of the thumb */
    width: 5px;
}

/* Style the scrollbar thumb when hovering over it */
.dark-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #3e3f53; /* Darker color on hover */
}
