header {
    height: 90px;

    border-bottom: 2px solid var(--light);
}

section {
    background-color: var(--light);
    height: calc(100vh - 92px);
}

p {
    font-family: Plusbold;
}

h3 {
    font-family: Plusbold;
}

.img-con {
    border-right: 2px solid var();
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
.inner-header {
    display: flex;
    height: inherit;
    width: inherit;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    justify-content: space-between;
}
.buttons {
    display: flex;
    gap: 15px;
}

.add-task--btn,
.add-column--btn {
    width: 140px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--mainpurple);
    color: #fff;
    border: none;
}
.settings--btn {
}

.buttons {
    display: flex;
    gap: 15px;
}

.add-task--btn {
    width: 140px;
    height: 40px;
    border-radius: 30px;
}
.settings--btn {
    background-color: n;
}

.column-body {
    display: flex;
    gap: 30px;
    padding-top: 10px;
    padding-left: 13px;
}

h3 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 24px;
    font-family: PlusBold;
}

.columns {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    h3 {
        font-size: 12px;
    }
}

.tasks {
    background-color: var(--darkgray);
    margin-top: 10px;
    border-radius: 8px;
    min-height: 60px;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0px 0px 5px var(--linesdark);
    h3 {
        font-family: PlusBold;
        font-size: 15px;
        letter-spacing: auto;
    }
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.column-title-con {
    display: flex;
    align-items: center;
    gap: 7px;
}

.fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    span {
        letter-spacing: 1px;
        color: var(--mediumgray);
        font-family: "PlusMedium";
        font-size: 14px;
    }
}

.edit-con {
    position: absolute;
    top: 75px;
    right: 4px;
    background-color: var(--ultradark);
    padding: 10px;
    height: 60px;
    width: 150px;
    box-shadow: 0px 6px 1px var(--lt-color-gray-800);
    gap: 10px;
    justify-content: center;
    padding-left: 15px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    span {
        font-size: 14px;
        font-family: Plusmedium;
        cursor: pointer;
    }
}
