<section [ngClass]="{ 'dark-mode-body': isDarkMode }">
  <div *ngIf="board?.columns.length > 0" class="column-body">
    <!-- columns -->
    <div
      class="columns"
      (dragover)="onDragOver($event)"
      *ngFor="let column of board.columns; let i = index"
      (drop)="onDrop($event, column.id)"
    >
      <div>
        <div class="column-title-con">
          <p class="dot" [style.backgroundColor]="colors[i]"></p>
          <h3 [ngClass]="{ 'dark-mode-label': isDarkMode }">
            {{ column.columnName }} ({{ column.tasks?.length }})
          </h3>
        </div>

        <div
          class="tasks"
          *ngFor="let task of column.tasks; let j = index"
          (click)="openTask(task)"
          (dragstart)="onDragStart(task)"
          draggable="true"
          [ngClass]="{ 'dark-mode-body': isDarkMode }"
        >
          <h3 [ngClass]="{ white: isDarkMode }">{{ task.title }}</h3>

          <p [ngClass]="{ 'dark-mode-label': isDarkMode }">
            {{ returnSomething(task.subtasks) }} of
            {{ task.subtasks.length }} subtasks
          </p>
        </div>
      </div>
    </div>
    <div class="columns add-column" (click)="editBoard()">
      <p>+ New Column</p>
    </div>
  </div>
  <div *ngIf="board.columns.length === 0" class="fixed">
    <span>This board is empty. Create a new column to get started</span>

    <button class="add-column--btn" (click)="editBoard()">
      + Add New Column
    </button>
  </div>
</section>
