<section
  *ngIf="sidebarState"
  [ngClass]="{ 'dark-mode': isDarkMode, 'border-right': isDarkMode ,'light-mode': !isDarkMode, 'hide-sidebar' : !sidebarState, }"
>
  <img
    class="logo"
    [src]="
      isDarkMode
        ? '/assets/images/logo-light.svg'
        : '/assets/images/logo-dark.svg'
    "
    alt="logo"
  />

  <div class="board-container">
    <div class="board-header">
      <h2>ALL BOARDS ( {{ storage.length }} )</h2>
      <img
        class="setting-svg"
        (click)="openSettings()"
        *ngIf="mobileQuery.matches"
        src="assets/images/icons8-settings (1).svg"
      />
    </div>
    <div
      class="all-boards"
      [ngClass]="{
        'all-boards-sidebar-dark': isDarkMode,
      }"
    >
      <div
        class="board-collection"
        *ngFor="let board of storage; let i = index"
      >
        <div
          class="board"
          (click)="openId(board.id)"
          [ngClass]="{ active: board.id === activeBoard?.id && active }"
        >
          <img src="/assets/images/icon-board.svg" />
          <span [ngClass]="{ white: board.id === activeBoard?.id && active }">{{
            board.title
          }}</span>
        </div>
      </div>
    </div>
    <div class="board" (click)="openAddBoard()">
      <img src="assets/images/icon-board-new.svg" />
      <span style="color: #635fc7"> + Create New Board</span>
    </div>
  </div>

  <div class="section-below">
    <div
      class="switch-container"
      [ngClass]="{
        'dark-mode-gray': isDarkMode,
        'light-mode-gray': !isDarkMode
      }"
    >
      <img src="assets/images/icon-light-theme.svg" />
      <label class="switch">
        <input type="checkbox" (change)="changeMode()" [checked]="isDarkMode" />
        <span class="slider round"></span>
      </label>
      <img src="assets/images/icon-dark-theme.svg" />
    </div>

    <div class="hide">
      <div (click)="toggleSidebar()" style="display: flex; gap: 5px">
        <img src="assets/images/icon-hide-sidebar.svg" />

        <span>Hide Sidebar</span>
      </div>
      <!-- <button (click)="logout()">logout</button> -->
      <img
        (click)="openSettings()"
        style="align-self: flex-end"
        src="assets/images/icons8-settings (1).svg"
      />
    </div>
    <div
      [ngClass]="{ 'd-none': !dropDown, 'no-scroll': dropDown }"
      class="edit-con"
    >
      <span (click)="logout()" [ngClass]="{ 'dark-mode-label': isDarkMode }"
        >Logout</span
      >
      <span
        style="color: var(--red)"
        (click)="openDeletePopUp()"
        [ngClass]="{ 'dark-mode-label': isDarkMode }"
        >Delete User</span
      >
    </div>
  </div>
</section>
