section {
    background-color: var(--darkgray);
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 50%;
}
.img.active {
    animation: shake 1.5s ease-in-out;
}

span {
    font-size: 25px;
    color: #ffff;
}

button {
    background-color: #1e2640; /* Background color matching your background */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

.con {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-5px) rotate(2deg);
    }
    40% {
        transform: translateX(5px) rotate(-2deg);
    }
    60% {
        transform: translateX(-5px) rotate(2deg);
    }
    80% {
        transform: translateX(5px) rotate(-2deg);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 600px) {
    .con {
        gap: 15px;
    }
    span {
        font-size: 15px;
    }

    button {
        font-size: 15px;
    }
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #fff #fff transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #ff3d00 #ff3d00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}
.loader::before {
    width: 32px;
    height: 32px;
    border-color: #fff #fff transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
